.photos-list-container {
  display: flex;
  flex-wrap: wrap;

  .photo-container {
    flex: 1 0 33%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;

    img {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
